\documentclass[a4paper,landscape]{ltjtarticle}
\usepackage[no-math,deluxe,expert]{luatexja-preset}
\usepackage{fontspec}
\usepackage{geometry}
\usepackage{array}
\usepackage{kintou}
{% raw %}
\IfFontExistsTF{Noto Color Emoji}{%
  \newfontfamily\EmojiFont{Noto Color Emoji}[Renderer=HarfBuzz]%
}{%
  \IfFontExistsTF{Segoe UI Emoji}{%
    \newfontfamily\EmojiFont{Segoe UI Emoji}[Renderer=HarfBuzz]%
  }{%
    \let\EmojiFont\relax
  }%
}
\newcommand{\emoji}[1]{\ifx\EmojiFont\relax #1\else{\EmojiFont #1}\fi}
{% endraw %}
\renewcommand{\baselinestretch}{1}
\pagestyle{empty}
\geometry{margin=1.5cm}

\begin{document}
{\gtfamily \large {{ title | tex }}\quad 投句一覧}%
{%- if kukai_theme %}\quad（兼題：{{ kukai_theme | tex }}）{% endif %}

\hfill {{ date }}

{% if participants %}\hfill 参加者：{% for p in participants %}{{ p | tex }}{% if not loop.last %}・{% endif %}{% endfor %}
{% endif %}
\vspace{2\baselineskip}

\setlength{\tabcolsep}{1em}
\renewcommand{\arraystretch}{1.25}

{% for group in submissions | batch(theme.submission.rows_per_page, {'number': '', 'text': '', 'author': ''}) %}
{%- if not loop.first %}
\newpage

\begin{center}
{\gtfamily \large {{ title | tex }}\quad 投句一覧}%
{%- if kukai_theme %}\quad（兼題：{{ kukai_theme | tex }}）{% endif %}
\end{center}

\vspace{1\baselineskip}
{% endif %}
\begin{tabular}{|>{\centering\arraybackslash}p{1\zw}|>{\raggedright\arraybackslash}p{5\zw}|>{\raggedright\arraybackslash}p{26\zw}|>{\raggedright\arraybackslash}p{5\zw}|>{\raggedright\arraybackslash}p{5\zw}|}
\hline
\multicolumn{1}{|>{\centering\arraybackslash}p{1\zw}|}{№} &
\multicolumn{1}{>{\centering\arraybackslash}m{5\zw}|}{選　者} &
\multicolumn{1}{>{\centering\arraybackslash}m{26\zw}|}{俳　句} &
\multicolumn{1}{>{\centering\arraybackslash}m{5\zw}|}{作　者} &
\multicolumn{1}{>{\centering\arraybackslash}m{5\zw}|}{\strut} \\ \hline
{% for s in group -%}
\hbox{\yoko {{ s.number }}} & \strut & {% if s.text %}\kintou{20}{ {{- s.text | tex -}} }{% endif %} & { {{- s.author | tex if s.author -}} } & \strut \\ \hline
{% endfor %}
\end{tabular}
{% endfor %}
\end{document}
